<launch>
  <arg name="verbose" default="true"/>

  <!--params for publishing dummy setpoints:-->
  <arg name="publish_dummy_pos" default="true" />

  <group if="$(arg publish_dummy_pos)">
    <node pkg="believer_dummy_nodes" type="dummy_offb_node_mav" name="dummy_offb_node_mav">
    </node>
  </group>

</launch>
